@using training.healthcareportal.Models;
@model List<AppointmentViewModel>
@{
    ViewBag.Title = "DoctorPage";
    Layout = "~/Views/Shared/_GuestLayout.cshtml";
}
<link href="~/Content/Site.css" rel="stylesheet" />
<link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />

<h2 class="text-center">PATIENT'S APPOINTMENTS</h2>

<table class="table table-responsive table-hover table-striped table-bordered bg-warning" id="appointments" style="width:100%">
    <thead>
        <tr>
            <th scope="col">Patient Name</th>
            <th scope="col">Gender</th>
            <th scope="col">Health Insurance ID</th>
            <th scope="col">Blood Group</th>
            <th scope="col">Emergency Contact</th>
            <th scope="col">Date</th>
            <th scope="col">Time</th>
            <th scope="col">Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (item.StatusId != 2)
            {
            <tr>
                <td>@item.Patient_Name</td>
                <td>@item.Gender</td>
                <td>@item.HealthInsuranceID</td>
                <td>@item.BloodGroup</td>
                <td>@item.EmergencyContact</td>
                <td>@item.Date</td>
                <td>@item.Time</td>
                @if (item.StatusId == 1)
                {
                <td class="text-warning">Pending</td>
                }
                else if (item.StatusId == 3)
                {
                    <td class="text-danger">Rejected</td>
                }
            <td>
                @if (item.StatusId == 3)
                {
                    <a href="@Url.Action("Delete", "Status")">
                        <img src="@Url.Content("~/img/reject.png")" height="30" width="30" />
                    </a>
                }
                else
                {
                    @Html.ActionLink("Approve/Reject", "ApproveStatus", "Status", new { AppointmentId = item.AppointmentId }, new { @class = "btn btn-success" })

                }
            </td>
         </tr>
            }
        }
    </tbody>
</table>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () { $('#appointments').DataTable(); });
</script>


<link href="~/Content/DataTables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
@section scripts{
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/DataTables/dataTables.bootstrap4.min.js"></script>
}