@using com.necsws.healthcareportal.Models
@model List<ServiceModel>


@{
    ViewBag.Title = "ViewServices";
}

<h2 style="text-align:center">View the Services</h2>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrap Example</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Service_Name</th>
                <th scope="col">Description</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.ActionLink(@item.ServiceName, "ViewDoctorsInfo", "ViewDoctor", new { Serviceid = item.ServiceId }, null) </td>
                    <td>@item.Description</td>
                </tr>
            }
            @*<tr>
                    <td>@Html.ActionLink("Physician", "Physician", "ViewServices")</td>
                    <td>Doctor related to fever,viral infections</td>

                </tr>
                <tr>
                    <td>@Html.ActionLink("Pediatrician", "Pediatrician", "ViewServices")</td>
                    <td>Kid's Doctor'</td>

                </tr>
                <tr>
                    <td>@Html.ActionLink("Neuro","Neuro", "ViewServices")</td>
                    <td>Doctor of Brain nerves</td>
                </tr>
                <tr>
                    <td>@Html.ActionLink("Dentist", "Dentist", "ViewServices")</td>
                    <td>Doctor of Dental problems</td>
                </tr>
                <tr>
                    <td>@Html.ActionLink("ENT", "ENT", "ViewServices")</td>
                    <td>Doctor of thyroid issues</td>
                </tr>
                <tr>
                    <td>@Html.ActionLink("Cardiologist", "Cardiologist", "ViewServices")</td>
                    <td>Doctor of Heart problems</td>
                </tr>
                <tr>
                    <td>@Html.ActionLink("Ayurvedic", "Ayurvedic", "ViewServices")</td>
                    <td>Doctor of herbs</td>
                </tr>*@


        </tbody>
    </table>


    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>

</body>
</html>
